<template name="mainLayout">

    <!-- Wrapper-->
    <div id="wrapper">

        <!-- Navigation -->
        {{> navigation }}

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg">

            <!-- Main view  -->
            {{> yield}}

            <!-- Footer -->
            <!--{{> footer }}-->

        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->

</template>