<template name="appnexus">

    {{> pageHeading title='Appnexus Private Auction Configuration' }}

    <h1>Appnexus configuration will go here</h1>
    <h2>Set the appnexus url to: http://localhost:3000/api/appnexus</h2>

</template>
