<template name="dashboard">

    {{> pageHeading title='Dashboard' }}
    <div class="wrapper wrapper-content animated fadeInRight">
        {{> configuredPartners}}
        {{> requests}}
    </div>

</template>

