<template name="configuredPartners">
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Configured Partners</h5>
            </div>
            <div class="ibox-content" style="display: block;">
                <table class="table table-hover no-margins">
                    <thead>
                    <tr>
                        <th>Endpoints</th>
                        <th>Requests</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each partners}}
                        {{> partnerRequestsRow}}
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>


<template name="partnerRequestsRow">
    <tr>
        <td>{{endpoint}}</td>
        <td>{{numberRequests}}</td>
        <td><button id="resetCount" class="btn btn-sm btn-warning">Reset</button></td>
    </tr>
</template>