<template name="partners">

    {{> pageHeading title='Configure RTB Partners' }}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <div class="col-lg-6">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>All configured mock RTB partners</h5>

                            <div class="ibox-tools">
                                <button data-toggle="modal" data-target="#newPartner" class="btn btn-primary btn-xs">Create new partner</button>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="project-list">
                                <table class="table table-hover">
                                    <tbody>
                                    {{#each partners}}
                                        {{> response}}
                                    {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{> newPartnerModal}}
    {{> deletePartner}}
    {{> editPartner}}
</template>

<template name="response">
    <tr>
        <td class="project-status">
            <span class="label label-primary">Active</span>
        </td>
        <td class="project-title">
            <a href="#">{{name}}</a>
        </td>
        <td class="project-actions">
            <a href="#" class="btn btn-danger btn-sm" id="delete"><i class="fa fa-times"></i> Delete </a>
            <a href="#" class="btn btn-white btn-sm" id="edit"><i class="fa fa-pencil"></i> Edit </a>
        </td>
    </tr>
</template>

<template name="deletePartner">
    <div class="modal" id="deletePartner" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <i class="fa fa-group modal-icon"></i>
                    <h4 class="modal-title">Are you sure you want to delete {{partner}}?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="confirm">Save</button>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="editPartner">
    {{#with partnerToEdit}}
        <div class="modal inmodal" id="editPartner" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated fadeIn">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                        <i class="fa fa-group modal-icon"></i>
                        <h4 class="modal-title">Edit Partner</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group"><label>Partner name</label><input id="editPartnerName" type="text" placeholder="E.g Appnexus"
                                                                                  class="form-control" value="{{name}}"></div>
                        <div class="form-group">
                            <label>Partner Response</label>

                            <div class="panel-group" id="accordion">
                                {{#each responses}}
                                    {{> partnerResponse }}
                                {{/each}}
                            </div>

                        </div>
                        <button type="button" class="btn btn-default" id="addResponse"><i class="fa fa-plus"></i>Add Response</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="saveChanges">Save</button>
                    </div>
                </div>
            </div>
        </div>
    {{/with}}
</template>

<template name="partnerResponse">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#{{dealId}}" aria-expanded="false" class="collapsed">
                    Response for deal: {{dealId}}
                </a>
                <a class="delete-deal"><i class="fa fa-times" id="delete-{{dealId}}" ></i></a>
            </h5>
        </div>

        <div id="{{dealId}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0;">
            <div class="panel-body">
                <textarea id="editResponse-{{dealId}}" type="text" class="form-control" value="{{response}}"></textarea>
            </div>
        </div>
    </div>
</template>

<template name="newPartnerModal">
    <div class="modal inmodal" id="newPartner" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                    </button>
                    <i class="fa fa-laptop modal-icon"></i>
                    <h4 class="modal-title">New Partner</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group"><label>Partner name</label><input id="partnerName" type="text" placeholder="E.g Appnexus"
                                                                              class="form-control"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="createPartner">Create</button>
                </div>
            </div>
        </div>
    </div>
</template>

