<template name="requests">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Latest Requests</h5>

            <div class="ibox-tools">
                <a class="clear-link btn btn-danger btn-sm">
                    <i class="fa fa-times">&nbsp;Clear Requests</i>
                </a>
            </div>
        </div>
        <div class="ibox-content" style="display: block;">
            <table class="table table-hover no-margins">
                <thead>
                <tr>
                    <th>Partner</th>
                    <th>Timestamp</th>
                    <th>Request Body</th>
                </tr>
                </thead>
                <tbody>
                {{#each requests}}
                {{> requestRow}}
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>

<template name="requestRow">
    <tr>
        <td>{{partner}}</td>
        <td>{{timestamp}}</td>
        <td>{{request}}</td>
    </tr>
</template>