<template name="responseTemplates">
    {{> pageHeading title='Example bid response templates' }}

    <div class="col-lg-6">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="text-center m-t-lg">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Open RTB</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="json">
                            <pre>{{openRtb}}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="text-center m-t-lg">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Appnexus</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="json">
                            <pre>{{appnexus}}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>