<template name="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">

            <!-- Close canvas menu used only on OffCanvas page -->
            <!-- You can remove this tag if you dont use offCanvas menu -->
            <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            <!-- End offCanvas menu toggle -->

            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <strong class="font-bold">Adscale Mocks</strong>
                    </div>
                    <div class="logo-element">
                        ADSCALE
                    </div>
                </li>
                <li class="{{isActiveRoute regex='dashboard'}}">
                    <a href="{{pathFor route='dashboard'}}"><i class="fa fa-dashboard"></i> <span class="nav-label">Dashboard</span> </a>
                </li>
                <li class="{{isActiveRoute regex='partners'}}">
                    <a href="{{pathFor route='partners'}}"><i class="fa fa-group"></i> <span class="nav-label">RTB Partners</span> </a>
                </li>
                <li class="{{isActiveRoute regex='templates'}}">
                    <a href="{{pathFor route='templates'}}"><i class="fa fa-file-text-o"></i> <span class="nav-label">Templates</span> </a>
                </li>
                <li class="{{isActiveRoute regex='appnexus'}}">
                    <a href="{{pathFor route='appnexus'}}"><i class="fa fa-space-shuttle"></i> <span class="nav-label">Appnexus</span> </a>
                </li>
            </ul>

        </div>
    </nav>
</template>